@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@300;400;500;700&family=Dancing+Script:wght@700&display=swap');

/*
 * common.css
*/

/**********************************************************************************
** Body
***********************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  position: relative;
  width: 100%;
  color: #333;
  font-family: 'Noto Sans KR', 'Montserrat';
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
}

#wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}


/**********************************************************************************
** hidden
***********************************************************************************/
.hidden {
  overflow: hidden;
  display: block;
  position: absolute;
  left: -1000%;
  width: 1px;
  height: 1px;
  color: #fff
}


/**********************************************************************************
** skip nav
***********************************************************************************/
#skipNav {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#skipNav a {
  overflow: hidden;
  display: block;
  height: 1px;
  margin-bottom: -1px;
  text-align: center;
  font-size: 16px;
}

#skipNav a:focus {
  height: auto;
  padding: 10px 0;
  background: #f2f2f2;
}


/**********************************************************************************
** top btn
***********************************************************************************/
.btn-top {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background: #2ed277;
  color: #fff;
}

.btn-top ion-icon {
  font-size: 2.8rem;
}

.btn-top.view {
  display: flex;
}


/**********************************************************************************
** Default
***********************************************************************************/
div,
section {
  position: relative;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

/* clearfix  */
.inner::after,
.container-wrapper .page-cont::after,
.age-wrap::after,
.map-cont .third dl::after {
  display: block;
  content: '';
  clear: both;
}

.float-left {
  float: left
}

.float-right {
  float: right
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.gradient {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2)
}



/**********************************************************************************
** font type
***********************************************************************************/
p {
  font-size: 1.8rem;
  line-height: 1.8;
}

p.copyright {
  font-family: 'Montserrat';
  font-size: 1.4rem;
  color: #999;
}

address {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8;
  color: #777;
}

.tit,
.txt,
.tit-md,
.txt-md,
.tit-sm,
.txt-sm {
  display: block;
}

.tit {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: 700;
}

.tit-md {
  font-size: 2.4rem;
  font-weight: 500;
}

.tit-sm {
  font-size: 2rem;
  font-weight: 500;
}

.txt {
  font-size: 1.8rem;
}

.txt-md {
  font-size: 1.6rem;
}

.txt-sm {
  font-size: 1.4rem;
}

.txt-location {
  display: inline-block;
  margin: 14px 0;
  padding: 5px 20px;
  background: #f7c71c;
  border-radius: 40px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}




/**********************************************************************************
** list type
***********************************************************************************/
dt,
dd {
  line-height: 1.8;
}

li a,
li img {
  display: block;
}

li img {
  width: 100%;
}

.dot-list li+li {
  margin-top: 12px;
}

.dot-list li::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background: #ddd;
}

.num-list {
  position: relative;
}

.num-list::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -80px;
  content: '01';
  width: 55px;
  height: 55px;
  background: #2ed277;
  color: #fff;
  border-radius: 50%;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
}



/* 1단  */
.col1>li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.col1>li img {
  width: 44%;
}

.col1>li dl {
  width: 52%;
}

.col1>li+li {
  margin-top: 70px;
}

/* 3단  */
.col3>li {
  width: 31.5%
}

.col3>li:not(:nth-of-type(3n)) {
  margin-right: 2.75%;
}

.col3>li:nth-of-type(3)~li {
  margin-top: 50px;
}

.col3>a:nth-of-type(3)~a {
  margin-top: 50px;
}

.col3>a {
  width: 31.5%
}

.col3>a:not(:nth-of-type(3n)) {
  margin-right: 2.75%;
}


/* 4단 */
.col4>li {
  width: 24%;
}

.col4>li:not(:nth-of-type(4n)) {
  margin-right: 1.33%
}

.col4>li:nth-of-type(4)~li {
  margin-top: 30px
}


/* 5단  */
.col5>li {
  width: 20%;
}

.col5>li:nth-of-type(5)~li {
  margin-top: 30px
}




/**********************************************************************************
** tab
***********************************************************************************/
.tab-wrap {
  top: -70px;
  width: 100%;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.tab-wrap.sticky {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
}

.tab-list {
  display: flex;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.tab-list li {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.tab-list li:nth-of-type(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.tab-list li a {
  display: block;
  position: relative;
  padding: 15px 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.tab-list li a.active {
  background: #2ed277;
  color: #fff
}

.tab-con:not(:first-of-type) {
  display: none;
}





/**********************************************************************************
** table
***********************************************************************************/
.tbl-wrap table {
  width: 100%;
  margin: 40px 0;
  border-top: 2px solid #1f1f1f;
  text-align: center;
}

.tbl-wrap th,
.tbl-wrap td {
  padding: 20px;
  border: 1px solid #ddd;
}

.tbl-wrap th {
  background: #f8f8f8;
  font-weight: 700;
}

.tbl-wrap th:first-of-type,
.tbl-wrap td:first-of-type {
  border-left: none
}

.tbl-wrap th:last-of-type,
.tbl-wrap td:last-of-type {
  border-right: none
}



/**********************************************************************************
** modal 
***********************************************************************************/
.modal-box,
.modal-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-box {
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(30, 41, 51, 0.45);
}

.modal-wrap {
  overflow-y: auto;
  z-index: 1000;
  width: 800px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
}

.btn-close {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  
  cursor: pointer;
}

.btn-close ion-icon {
  padding: 10px;
  background: #f9ca24;
  border-radius: 50%;
  font-size: 3rem;
  color: #fff;
  transition: all .5s;
}



/**********************************************************************************
** button
***********************************************************************************/
button {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn {
  border: 1px solid #ccc;
}

.btn-circle-more {
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.btn-circle-more ion-icon {
  padding: 4px;
  border-radius: 50%;
  font-size: 2.4rem;
  transition: all .3s;
}

.btn-book,
.btn-confirm,
.btn-login,
.btn-join,
.btn-find-pass,
.btn-find-id,
.btn-delete,
.btn-map,
.btn-modify {
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 16px 0;
  background: #2ed277;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.btn-book {
  width: 300px;
}

.btn-map {
  width: 200px;
  margin: 20px 0;
}

.btn-lock {
  position: absolute;
  top: 12px;
  right: 20px;
}

.btn-lock ion-icon {
  font-size: 2rem;
  color: #777
}



input::placeholder {
  color: #aaa;
}




/* 예매  */
.floating-menu {
  position: fixed;
  width: 100px;
  bottom: 80px;
  right: 20px;
  z-index: 999;
}

.floating-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #f9ca24;
  box-shadow: 0 0 10px #ccc;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}




/* 
@media screen and (max-width: 1440px) {
  #sub-cont-wrap .sec {
    width: 75%;
  }
} */