@charset "utf-8";
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
  }
body {
 color:#333;
 font-size:14px;
 font-family:돋움, Dotum; }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 border-radius:1px; }
textarea { resize:none; }
label { cursor:pointer; }

.hidden, #skipNav {
    display: block; position: absolute; left:-1000%; top:0; width:1px; height:1px; overflow: hidden; color:#fff
}





/* 전체 공통 css */
#wrap{ width:100%; overflow:hidden; position: relative; font-family: 'Nanum Gothic'; font-weight: 400;}


/* 헤더 공통 css */
#headerArea {width:100%; position: fixed; z-index:1000; padding: 15px 0; border-bottom:1px solid #ddd; background: #fff;}

#headerArea .logo a{
    display:block; background:url(../images/logo_320.jpg) no-repeat; width:73px; height:28px; text-indent: -999px; overflow: hidden; margin:0 auto
}

#headerArea .btn {
    position: absolute; top:15px; left:15px; 
}

#headerArea .btn img {
    width:27px; height:28px
}

#headerArea #gnb {
    width:100%; position: absolute; left:-100%; top:0; background:#fff; opacity:.5; z-index:20
}

#headerArea #gnb .nav_middle {
    overflow: hidden; background:#F7F3EB 
}

#headerArea #gnb .nav_middle li a{
   display:block; width:50%; box-sizing:border-box; float:left; padding:16px 0 10px 0; text-align: center; border:1px solid #ddd; font-size:13px
}

#headerArea #gnb .nav_middle li a:first-of-type {
   border-right:0; color:#666
}

#headerArea #gnb .nav_middle li img {
    width:20px; margin-right:6px
}

#headerArea #gnb .main_menu li {
    text-align:left; padding-left:20px; border-bottom:1px solid #ddd
}

#headerArea #gnb .main_menu li a {
    display: block; padding: 20px 0; font-size: 15px; font-weight: 700;
}

#headerArea #gnb .main_menu li ul {
    display: none; background: #eee
}

#headerArea #gnb .main_menu li ul a {
    font-size: 14px; font-weight: 400;
}

#headerArea #gnb .main_menu li.depth1 {
    position: relative;
}

#headerArea #gnb .main_menu li.depth1 a.active {
    color:#fe4365; 
}

#headerArea #gnb .main_menu li.depth1 i {
    position: absolute; right:20px; top: 22px;
}

#headerArea .nav_top {
    overflow: hidden; padding:20px 0; background:#fe4365
}

#headerArea .nav_top .login {
     float:left; padding-left:20px;  color:#fff; font-size:14px
}

#headerArea .nav_top .close_btn {
    float:right; margin-right:20px
}

#headerArea .nav_top .close_btn i {
    font-size:22px; color:#fff
}

/* #headerArea .nav_top .close_btn img {
    width: 35px; height: 33px
} */






/* 푸터 공통 css */

#footerArea {
    position:relative; padding:20px 0; background: #eee
}

#footerArea .top_btn {
    display:block; position: absolute; top:-25px; left:50%; margin-left:-30px; width:60px; height:40px; background:#eee; border-radius:30px 30px 0 0; text-align: center;
}

#footerArea .top_btn i {
    display: block; margin-top:4px
}

#footerArea .url {
    overflow: hidden; 
}

#footerArea .family_site {
    float:left; position: relative; margin-left:20px; width: 120px; background: #fff; border: 1px solid #ddd; padding: 2px 4px; font-size:13px
}

#footerArea .family_site .arrow {
    display: block; width: 120px; height:20px
}

#footerArea .family_site .arrow i {
   position: absolute; right: 10px; top: 6px; font-size: 12px;
}

#footerArea .family_list {
    display:none; 
}

#footerArea .family_list li a {
    display: block; height: 24px; 
}

#footerArea .family_list li:nth-of-type(2) a {
    padding-bottom:2px
}

#footerArea .family_list li span {
    display: block; position: relative; top:6px
}


#footerArea .sns {
    overflow:hidden; float:right; margin-right:20px; width: 115px; 
}

#footerArea .sns li {
    float:left; width:33.3px; margin-right:5px
} 

#footerArea .sns li:last-of-type {
    margin-right:0
}

#footerArea .sns li img {
    width: 35px; height: 30px
}

#footerArea address, #footerArea p {
   margin-top:12px; padding:0 20px; font-size:12px; font-weight: 300; text-align: center; line-height: 1.8em;
}

#footerArea .link {
    overflow: hidden; width: 200px; margin:20px auto; 
}

#footerArea .link li {
    float: left; background:#fff; width: 90px; margin-right:20px; font-size:14px; border-radius: 25px;
}

#footerArea .link li a {
    display: block; padding:5px 0 7px; text-align: center;
}

#footerArea .link li:nth-of-type(2) {
    margin-right: 0;
}



@media screen and (-webkit-min-device-pixel-ratio: 2) {
    #headerArea .logo a {
        background:url(../images/logo_640.jpg) no-repeat;
        background-size: 73px 28px
    }
}






